<!-- views/index.ejs -->

<%- include('base', { pageTitle: 'Home', headerTitle: 'Welcome to Access Management Foundation' }) %>

<div class="container" style="margin-top: 50px;
background-color: rgba(240, 240, 240, 0.3); /* Add your desired background color */
padding: 20px; /* Add padding to control the size */
border-radius: 8px;">
    <h2 style="color:#af0d45;">Welcome to Access Management Social Login</h2>
    <p>Please log in using your Google account:</p>
    <a href="/auth/google" class="btn btn-primary" style="background-color:#af0d45; color:#e6fb0b">Login with Google</a>
</div>
